[submodule "bilder"]
	path = bilder
	url = https://github.com/ApolloFramework/bilder
[submodule "trilinos"]
	path = trilinos
	url = https://github.com/ApolloFramework/Trilinos
[submodule "camellia"]
	path = camellia
	url = https://github.com/ApolloFramework/Camellia.git
