[submodule "Trilinos"]
	path = trilinos
	url = https://github.com/ApolloFramework/Trilinos
[submodule "Camellia"]
	path = camellia
	url = https://github.com/ApolloFramework/Camellia.git
[submodule "scimake"]
	path = scimake
	url = https://github.com/ApolloFramework/scimake.git
